/CSE423-Lab-main/Lab 1/build/
/CSE423-Lab-main/Lab 1/nbproject/private/
/Lab 1(Demo)/build/
/Lab 1(Demo)/nbproject/private/
/Lab 1/Task_One/nbproject/private/
/Lab 1/Task_One/build/
/Lab 1/Task_Two/nbproject/private/
/Lab 1/Task_Two/build/
/Lab 1/Task_Three/nbproject/private/